
        .list-group-item:hover {
            color: red;
            cursor: pointer;
        }

        #search {
            width: 50%;
        }

        .row {
            width: 100%;
            padding-left: 5%;
        }

        #first-child {
           background: #ddd;
            pointer-events: none;
           
        }

        #Login {
            background-color: #C3B8B8;
            width: 200px;
            top: 36px;
        }

        .button {
            float: right;
            background-color: orange;
            border: 2px;
            border-radius: 5px;
        }

        .button:hover {
            color: white;
        }

        .sidebar-left {
          
          
            height: 500px;
        }
       
        a{
            text-decoration: none;
        }
        footer{         
            bottom: 0;
            margin: 0 auto !important;
            text-align: center !important;
            width: 100%! important;
            border-top: 1px solid black;
        }
      
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 80%;
            height: 500px;
            margin: auto;
        }
        .caret.caret-up {
            border-top-width: 0;
            border-bottom: 4px solid #000000;
        }
        /*.affix{
            top:0;
            width: 100%;
            z-index: 999! important;
        }*/
        #slider{
            background-color: black;
        }
        #nav-tabs{
            background: #ddd;
            margin-left:49px;
            
        }
        #order:hover{
            color: white;
        }
        .nav li a:hover{
            color: white;
            border: none;
            background-color: transparent;
        }
        .tab{
            color: gray;
        }
        .tab:focus{
            color: black;
        }
        .tab:hover{
            color: #000;
        }
        .tab:active{
            color: #000;
        }
        .text-view{
            color: #888;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
           .text-view2{
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .text-view1{
            margin: 0;
        }
        .text{
            height: 50%;
        }
        .footer1{
            text-align: center;
            width: 30%;
        }
        .menu-mobile:hover{
            background-color: #DCD0B1;
        }
        #menu-mobile{
            background-color: #ECE7DA;
            margin-left: -7px;
        }
        .list-group.affix{
            top:20px;
        }
        .affix+.nav-tabs{
            width: 61%;
        }
        .footer-categories { 
            list-style: none;
            display: block;
            clear: both;
            padding: 30px 30px 0px 0px;
            float:left;
            width: 100%;
        }
        .fc-title{
           
            font-size:16px;
            font-weight: 700;
            padding: 0px 10px 5px 42px ;
        }
        .li-body2{
            list-style: none;
        }
        .li-hide{
            display: none;
            list-style: none;
        }
        iframe{
            z-index: 10000!important;
            position: relative;
          height: 138px;
         
        }
        .navigation{
            padding-left: 22px;    
        }
        #item{
            color: black;
            font-size: 14px;
            font-weight: 200;
        }
        #item:hover{
            color:#9480cc;
            text-decoration: underline;   
        }
        .login{
            float: left;
            height: 34px;
            padding:6px;
            margin:-7px 13px 5px 0px;
        }
        .login:hover{
            background-color: #ff6e23;
        }
        .login a{
            color: black;
            font-size: 14px;
            text-decoration: underline;
        }
        .login a:hover{
            color: black;
            font-size: 14px;
            text-decoration:none;
        }
        .navbar-right button{
            margin:-7px 13px 5px 0px;
            height: 34px;
           background-color:  rgb(221, 221, 221,0.4);

        }
        .banner{
            position: relative;
            background-color: black;
        }
        .banner-img{
            opacity: 0.4;
            height: 400px;
            background-size: cover;
            width: 100%;
            background-position: center; 
        }
        .banner-info{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;
            z-index: 5;
            display: block;
        }
        .title-search{
            border:0;
            font-size: 30px;
            line-height: 30px;
            text-align: left;
            padding:0 0 20px;
        }
        .search-center{
            border-radius: 4px;
            background-color: white;
            position: relative;
            width: 1100px;
            float: left;
        }
        /*.search-center .group-select .location{
            top:10px;
            width: 391px;
        }*/
        .search-center .group-select{
            float: left;
            border: 1px solid rgb(235, 235, 235);
            border-right: 0;
            height: 50px;
            color: #363636;
            font-size: 14px;
            position: relative;
           
        }
        /*.search-center .group-select .location input{
            padding-left: 30px;
        }*/
        .search-center .group-select input{
            height: 49px;
            border: 0;
            box-shadow: none;
            padding: 0 20px 0 10px;
        }
        .search-center .group-select input:focus{
            outline: none;
        }
        .search-center .group-select .people{
            width:160px;
            border-radius: 4px 0 0 4px;
        }
        label{
            display: inline-block;
            max-width: 100%;
        }
        .arrow-select{
            width:200px;
            height: 100%;
            margin: 0;
            font-weight: 400;
        }
        .search-center .group-select select{
            cursor: pointer!important;
        }
        #select-people-search{
            border:0;
            height: 100%;
            margin: 0 19px 0 7px;
            width: 100%;
        }

        
    